#footer {
    margin-top: 30px;
    font-size: 15px;
}

#footer a {
    text-decoration: none;
}

#footer-bottom a {
    text-decoration: none;
}

.github-stars {
    margin-top: 5px;
}

#footer h5 {
    font-size: 15px;
}

.copyright {
    font-size: 15px;
}